body{
    background-color: black;
    font-size: 200%;
    font-weight: bold;
}

.showResult{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: cyan;
    font-size: 300%;
}